# Dependências
/node_modules
/.pnp
.pnp.js

# Testes
/coverage
/.nyc_output

# Produção
/build
/.next
/out

# Variáveis de ambiente
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Outros
.DS_Store
*.pem